{% set svgUrl = file_url(content.field_cta_image[0]['#media'].field_media_svg.entity.uri.value) %}
{% set svgAlt = content.field_cta_image[0]['#media'].field_media_svg.alt %}

{% if content.field_cta_image[0]['#media'].field_media_image.entity.uri.value %}
  {% set imageUrl = file_url(content.field_cta_image[0]['#media'].field_media_image.entity.uri.value | image_style('original_webp')) %}
{% endif %}
{% set imageAlt = content.field_cta_image[0]['#media'].field_media_image.alt %}

<div class="cta--{{ content.field_cta_type.0|render|lower|replace({' ':'-'}) }} node--{{ node.id }} content-wrapper">
  {% if svgUrl|default(null) %}
  <img src="{{ svgUrl }}" alt="{{ svgAlt }}" loading="lazy">
  {% elseif imageUrl|default(null) %}
  <img src="{{ imageUrl }}" alt="{{ imageAlt }}" loading="lazy">
  {% endif %}
  <p>{{ node.field_cta_text.0.value|raw }}</p>
  {% if content.field_cta_type.0|render == "Mailing list" %}
  {# node 974 = /subscribe #}
  <a class="button subscribe-btn" href={{ path('entity.node.canonical', {'node': 974}) }} data-umami-event="CTA Stripe link - Subscribe">
      {{ 'Subscribe'|t }}
    </a>
  {% endif %}
</div>
