<div class="card node--{{ node.id }}">  
  {{ content.field_card_image }}
  <div class="card-content-wrapper">
    {% if node.field_card_title is not empty %}
    <h3 class="card__title">{{ node.field_card_title.0.value|raw }}</h3>
    {% endif %}
    {% if node.field_card_blurb is not empty %}
    <p class="card__desc">{{ node.field_card_blurb.0.value|raw }}<p>
    {% endif %}
    {% if node.field_card_link.0.url.external %}
    <a class="card__link" href="{{ node.field_card_link.uri }}">
      {{ node.field_card_link.title }}
    </a>
    {% else %}
    <a class="card__link" href="{{ path(node.field_card_link.0.url.routeName, node.field_card_link.0.url.routeParameters) }}">
      {{ node.field_card_link.title }}
    </a>
    {% endif %}
  </div>
</div>



