{% set svgUrl = content.field_form_heading_image[0]['#media'].field_media_svg.entity.uri.value|file_url %}
{% set svgAlt = content.field_form_heading_image[0]['#media'].field_media_svg.alt|default('') %}

{% set imageUrl = null %}
{% if content.field_form_heading_image[0]['#media'].field_media_image.entity.uri.value is not empty %}
  {% set imageUrl = file_url(content.field_form_heading_image[0]['#media'].field_media_image.entity.uri.value | image_style('original_webp')) %}
{% endif %}
{% set imageAlt = content.field_form_heading_image[0]['#media'].field_media_image.alt|default('') %}

{% set formHeading = content.field_form_heading.0|default('') %}

{% if svgUrl or imageUrl or formHeading %}
<section>
  <div class="form form__header content-wrapper">
    {% if formHeading %}
      <div class="text-wrapper text--body-right">
        <h2>{{ formHeading|raw }}</h2>
      </div>
    {% endif %}

    {% if svgUrl|default(null) %}
      <img src="{{ svgUrl }}" alt="{{ svgAlt|e('html_attr') }}" class="form__image">
    {% elseif imageUrl|default(null) %}
      <img src="{{ imageUrl }}" alt="{{ imageAlt|e('html_attr') }}" class="form__image">
    {% endif %}
  </div>
</section>
{% endif %}

<section>
  <div class="form form__body content-wrapper">
    {% if content.field_form_text.0 is not empty %}
      <div class="text-wrapper text--body-right">
        <div class="text__body">{{ content.field_form_text.0|raw }}</div>
      </div>
    {% endif %}

    {% set novalidate = (node.field_form_novalidate is defined and node.field_form_novalidate[0].value) ? 'novalidate' : '' %}
    <form action="{{ node.field_form_link.0.uri|e('html_attr') }}" method="post" 
          id="{{ content.field_form_id.0|e('html_attr') }}" 
          name="{{ content.field_form_name.0|e('html_attr') }}" 
          class="{{ content.field_form_class.0|e('html_attr') }}" 
          target="{{ content.field_form_target.0|e('html_attr') }}" 
          {{ novalidate }}>

      {% for form_field in content.field_input_field %}
        {% if form_field['#node'] is not empty %}
          {{ form_field }}
        {% endif %}
      {% endfor %}

    </form>
  </div>
</section>
