{% set imageUrl = file_url(content.field_talk_speaker_entities[0]['#node'].field_speaker_image[0].value|raw) %}
{% set imageAlt = content.field_talk_speaker_entities[0]['#node'].field_speaker_name[0].value|raw %}
{% set startDate = node.field_talk_start.0.value|raw %}
{% set endDate = node.field_talk_end.0.value|raw %}
{% set difference = endDate|date('U') - startDate|date('U') %}
{% set duration = (difference / 60) %}
{% set nodeLink = path('entity.node.canonical', {'node': node.id}) %}
{# description and title from preprocess function#}
{% set talkDescription = description |render|striptags %}
{% set talk_title = title %}
{% if content.field_talk_video[0]['#media'] is defined %}
  {% set videoIndicator = '<span class="talk__recording">(recording available)</span>' %}
{% endif %}
  
<img src="{{ imageUrl }}" alt="{{ imageAlt }}" height="200" width="200">
<div class="talk__teaser">
  <h2><a href="{{ nodeLink }}">{{ talk_title |raw }}</a></h2>
  <p>
    <time datetime="{{ startDate }}">{{ node.field_talk_start.0.value|date('U')|format_date('custom', 'D j M Y, H:i') }}</time><span> - {{ duration }}{{ 'min'|t }}</span>
    {{ videoIndicator|raw }}
  </p>
  <p>
    {% for language in node.field_session_languages %}
      <span class="session-languages">{{ language.value }}</span>
    {% endfor %}
  </p>
  <p>{{ talkDescription|length > 400 ? talkDescription|slice(0, 400)|raw ~ '…' : talkDescription|raw }}</p>
</div>
