{% set mediaEntity = content.field_fellow_photo[0]['#entity'] %}
{% set imageUri = mediaEntity.field_media_image.entity.uri.value %}
{% if imageUri %}
	{% set imageUrl = file_url(imageUri | image_style('thumbnail')) %}
{% endif %}
{% set imageAlt = mediaEntity.field_media_image.alt %}
{% set nodeLink = path('entity.node.canonical', {'node': node.id}) %}
{% set fellowUrl = node.field_fellow_external_link.value is not empty ? node.field_fellow_external_link.value : nodeLink %}

<a href="{{ fellowUrl }}">
	<img src="{{ imageUrl }}" alt="{{ imageAlt }}" height="240" width="240" loading="lazy">
	<h2>{{ node.field_fellow_name.0.value|raw }}</h2>
	<p>{{ node.field_fellow_quote.0.value|raw }}</p>
</a>
