{% set svgBgUrl = file_url(content.field_hero_background_image[0]['#media'].field_media_svg.entity.uri.value) %}
{% if content.field_hero_background_image[0]['#media'].field_media_image.entity.uri.value %}
  {% set imageBgUrl = file_url(content.field_hero_background_image[0]['#media'].field_media_image.entity.uri.value | image_style('original_webp')) %}
{% endif %}

{% set svgUrl = file_url(content.field_hero_image[0]['#media'].field_media_svg.entity.uri.value) %}
{% set svgAlt = content.field_hero_image[0]['#media'].field_media_svg.alt %}
{% if content.field_hero_image[0]['#media'].field_media_image.entity.uri.value %}
  {% set imageUrl = file_url(content.field_hero_image[0]['#media'].field_media_image.entity.uri.value | image_style('original_webp')) %}
{% endif %}
{% set imageAlt = content.field_hero_image[0]['#media'].field_media_image.alt %}
{% set gradientStart = content.field_hero_gradient[0]['#paragraph'].field_gradient_start.value %}
{% set gradientEnd = content.field_hero_gradient[0]['#paragraph'].field_gradient_end.value %}
{% set heroTxtColour = node.field_hero_text_colour.0.value|raw %}
{% set heroBgPos = node.field_hero_background_position.0.value|raw %}
{% set heroCaption = node.field_hero_caption.0.value|raw %}

{% set videoBgUrl = file_url(content.field_hero_background_video[0]['#media'].field_media_video_file.entity.uri.value) %}
{% if content.field_hero_video_poster[0]['#media'].field_media_image.entity.uri.value %}
  {% set posterUrl = file_url(content.field_hero_video_poster[0]['#media'].field_media_image.entity.uri.value | image_style('original_webp')) %}
{% endif %}

{# Get the alignment class from preprocess #}
{% set alignmentClass = '' %}
{% if node.field_text_alignment is not empty %}
  {% set alignmentClass = 'text-alignment-' ~ node.field_text_alignment.0.value %}
{% endif %}

{% if node.field_hero_type.0.value|raw == "Illustration" %}
<section class="hero node--{{ node.id }} hero--illustration {{ alignmentClass }}" style="--gradient-start: {{ gradientStart }};--gradient-end: {{ gradientEnd }}">
  <div class="content-wrapper">
    <div>
      <h2 style="--color-hero-txt: {{ heroTxtColour }}">{{ node.field_hero_text.0.value|raw }}</h2>
      {% if node.field_hero_blurb is not empty %}
      <p class="hero__desc" style="--color-hero-txt: {{ heroTxtColour }}">{{ node.field_hero_blurb.0.value|raw }}</p>
      {% endif %}
      {% if node.field_hero_cta is not empty %}
        {% if node.field_hero_cta.0.url.external %}
        <a class="cta--btn__link hero__cta" style="--color-hero-txt: {{ heroTxtColour }}" href="{{ node.field_hero_cta.uri }}" data-umami-event="{{ node.field_umami_event.0.value|raw }}">
          {{ node.field_hero_cta.title }}
        </a>
        {% else %}
        <a class="cta--btn__link hero__cta" style="--color-hero-txt: {{ heroTxtColour }}" href="{{ path(node.field_hero_cta.0.url.routeName, node.field_hero_cta.0.url.routeParameters) }}" data-umami-event="{{ node.field_umami_event.0.value|raw }}">
          {{ node.field_hero_cta.title }}
        </a>
        {% endif %}
      {% endif %}
    </div>
    {% if svgUrl|default(null) %}
    <img class="hero__img" src="{{ svgUrl }}" alt="{{ svgAlt }}">
    {% elseif imageUrl|default(null) %}
    <img class="hero__img" src="{{ imageUrl }}" alt="{{ imageAlt }}">
    {% endif %}
  </div>
</section>
{% elseif node.field_hero_type.0.value|raw == "Photography" %}
  {% if svgBgUrl|default(null) %}
  <section class="hero node--{{ node.id }} hero--photography {{ alignmentClass }}" style="--bg-image: url('{{ svgBgUrl }}');--bg-pos:{{ heroBgPos }}">
    <div class="content-wrapper">
      <h2 style="--color-hero-txt: {{ heroTxtColour }}">{{ node.field_hero_text.0.value|raw }}</h2>
      {% if node.field_hero_blurb is not empty %}
      <p class="hero__desc" style="--color-hero-txt: {{ heroTxtColour }}">{{ node.field_hero_blurb.0.value|raw }}</p>
      {% endif %}
      {% if node.field_hero_cta is not empty %}
        {% if node.field_hero_cta.0.url.external %}
        <a class="cta--btn__link hero__cta" style="--color-hero-txt: {{ heroTxtColour }}" href="{{ node.field_hero_cta.uri }}" data-umami-event="{{ node.field_umami_event.0.value|raw }}">
          {{ node.field_hero_cta.title }}
        </a>
        {% else %}
        <a class="cta--btn__link hero__cta" style="--color-hero-txt: {{ heroTxtColour }}" href="{{ path(node.field_hero_cta.0.url.routeName, node.field_hero_cta.0.url.routeParameters) }}" data-umami-event="{{ node.field_umami_event.0.value|raw }}">
          {{ node.field_hero_cta.title }}
        </a>
        {% endif %}
      {% endif %}
    </div>
    {% if heroCaption|default(null) %}
      <p class="hero__caption">{{ heroCaption }}</p>
    {% endif %}
  </section>
  {% elseif imageBgUrl|default(null) %}
  <section class="hero node--{{ node.id }} hero--photography {{ alignmentClass }}" style="--bg-image: url('{{ imageBgUrl }}');--bg-pos:{{ heroBgPos }}">
    <div class="content-wrapper">
      <h2 style="--color-hero-txt: {{ heroTxtColour }}">{{ node.field_hero_text.0.value|raw }}</h2>
      {% if node.field_hero_blurb is not empty %}
      <p class="hero__desc" style="--color-hero-txt: {{ heroTxtColour }}">{{ node.field_hero_blurb.0.value|raw }}</p>
      {% endif %}
      {% if node.field_hero_cta is not empty %}
        {% if node.field_hero_cta.0.url.external %}
        <a class="cta--btn__link hero__cta" style="--color-hero-txt: {{ heroTxtColour }}" href="{{ node.field_hero_cta.uri }}" data-umami-event="{{ node.field_umami_event.0.value|raw }}">
          {{ node.field_hero_cta.title }}
        </a>
        {% else %}
        <a class="cta--btn__link hero__cta" style="--color-hero-txt: {{ heroTxtColour }}" href="{{ path(node.field_hero_cta.0.url.routeName, node.field_hero_cta.0.url.routeParameters) }}" data-umami-event="{{ node.field_umami_event.0.value|raw }}">
          {{ node.field_hero_cta.title }}
        </a>
        {% endif %}
      {% endif %}
    </div>
    {% if heroCaption|default(null) %}
      <p class="hero__caption">{{ heroCaption }}</p>
    {% endif %}
  </section>
  {% endif %}
{% elseif node.field_hero_type.0.value|raw == "Video" %}
  <section class="hero node--{{ node.id }} hero--video {{ alignmentClass }}">
    <div class="background-wrapper">
      <video autoplay muted playsinline loop>
        <source src="{{ videoBgUrl }}" type="video/mp4" poster="{{ posterUrl }}">
      </video>
      <button aria-label="play pause toggle" id="hero__video-toggle" class="is-playing"></button>
    </div>
    <div class="content-wrapper">
      <h2 style="--color-hero-txt: {{ heroTxtColour }}">{{ node.field_hero_text.0.value|raw }}</h2>
      {% if node.field_hero_blurb is not empty %}
      <p class="hero__desc" style="--color-hero-txt: {{ heroTxtColour }}">{{ node.field_hero_blurb.0.value|raw }}</p>
      {% endif %}
      {% if node.field_hero_cta is not empty %}
        {% if node.field_hero_cta.0.url.external %}
        <a class="cta--btn__link hero__cta" style="--color-hero-txt: {{ heroTxtColour }}" href="{{ node.field_hero_cta.uri }}" data-umami-event="{{ node.field_umami_event.0.value|raw }}">
          {{ node.field_hero_cta.title }}
        </a>
        {% else %}
        <a class="cta--btn__link hero__cta" style="--color-hero-txt: {{ heroTxtColour }}" href="{{ path(node.field_hero_cta.0.url.routeName, node.field_hero_cta.0.url.routeParameters) }}" data-umami-event="{{ node.field_umami_event.0.value|raw }}">
          {{ node.field_hero_cta.title }}
        </a>
        {% endif %}
      {% endif %}
    </div>
  </section>
{% endif %}