{% set startDate = node.field_talk_start.0.value|raw %}
{% set endDate = node.field_talk_end.0.value|raw %}
{% set difference = endDate|date('U') - startDate|date('U') %}
{% set duration = (difference / 60) %}

<div class="talk node--{{ node.id }} content-wrapper">

  {% if node.field_summit_year.0.value %}
  <ol itemscope itemtype="https://schema.org/BreadcrumbList" class="talk__breadcrumbs">
    <li itemprop="itemListElement" itemscope
        itemtype="https://schema.org/ListItem">
      <a itemprop="item" href="{{ path('entity.node.canonical', {'node': 623}) }}">
        <span itemprop="name">{{  node.field_summit_year.0.value }} {{ 'Summit'|t }}</span>
      </a>
      <meta itemprop="position" content="1" />
    </li>
    <li itemprop="itemListElement" itemscope
        itemtype="https://schema.org/ListItem">
      <a itemprop="item" href="{{ path('view.summit_talks.2022_summit_talks_listing') }}">
        <span itemprop="name">{{ 'Talks'|t }}</span>
      </a>
      <meta itemprop="position" content="2" />
    </li>
  </ol>
  {% endif %}

  <header class="talk__header">
    <h1>{{ node.field_talk_title.0.value|raw }}</h1>
    <p><time datetime="{{ startDate }}">{{ node.field_talk_start.0.value|date('U')|format_date('custom', 'D j M Y, H:i') }}</time><span> - {{ duration }}{{ 'min'|t }}</span></p>
  </header>
  
  {% if content.field_talk_video[0]['#media'] is defined %}
  <div class="talk__video">
    {{ content.field_talk_video }}
  </div>
  {% endif %}
  
  <div class="talk__info">
    {% if node.field_talk_description.0.value is defined %}
    <div class="talk__description">
      {{ node.field_talk_description.0.value|nl2br }}
    </div>
    {% endif %}

    <div class="talk__speakers">
      {{ content.field_talk_speaker_entities }}
    </div>
  </div>
</div>
