{% set startDate = node.field_talk_start.0.value|raw %}
{% set endDate = node.field_talk_end.0.value|raw %}
{% set difference = endDate|date('U') - startDate|date('U') %}
{% set duration = (difference / 60) %}
{# description and title are from preprocess function #}
{% set talk_title = title %}
{% set talk_description = description %}

<div class="talk node--{{ node.id }} content-wrapper">

  {% if node.field_summit_year.0.value %}
  <ol itemscope itemtype="https://schema.org/BreadcrumbList" class="talk__breadcrumbs">
    <li itemprop="itemListElement" itemscope
        itemtype="https://schema.org/ListItem">
        {# node 578 = /summit #}
      <a itemprop="item" href="{{ path('entity.node.canonical', {'node': 578}) }}">
        <span itemprop="name">{{  node.field_summit_year.0.value }} {{ 'Summit'|t }}</span>
      </a>
      <meta itemprop="position" content="1" />
    </li>
    <li itemprop="itemListElement" itemscope
        itemtype="https://schema.org/ListItem">
      <a itemprop="item" href="{{ path('view.summit_talks.2025_summit_talks_listing') }}">
        <span itemprop="name">{{ 'Sessions'|t }}</span>
      </a>
      <meta itemprop="position" content="2" />
    </li>
  </ol>
  {% endif %}

  <header class="talk__header">
    <h1>{{ talk_title|raw }}</h1>
    <p><time datetime="{{ startDate }}">{{ node.field_talk_start.0.value|date('U')|format_date('custom', 'D j M Y, H:i') }}</time><span> - {{ duration }}{{ 'min'|t }}</span></p>
    <p>
      {% for language in node.field_session_languages %}
        <span class="session-languages">{{ language.value }}</span>
      {% endfor %}
    </p>
  </header>
  
  {% if content.field_talk_video[0]['#media'] is defined %}
  <div class="talk__video">
    {{ content.field_talk_video }}
  </div>
  {% endif %}
  
  <div class="talk__info">
    {% if node.field_talk_description.0.value is defined %}
    <div class="talk__description">
      {{ talk_description |nl2br }}
    </div>
    {% endif %}

    <div class="talk__speakers">
      {{ content.field_talk_speaker_entities }}
    </div>
  </div>
</div>
