<section class="member node--{{ node.id }} content-wrapper">
  {{ content.field_photo }}
  <div class="member__text">
    <h2>{{ node.field_name.0.value|raw }}</h2>
    <p>{{ node.field_position.0.value|raw }}</p>
    {{ content.field_social_media_links }}
    {{ node.field_profile.0.value|raw }}
  </div>
</section>
