{% set renderCaption = node.field_card_caption.0.value|raw %}
{% set isClickableCard = node.field_card_link is not empty and node.field_card_link.title is empty %}
{% set href = '' %}
{% set umamiEvent = node.field_umami_event.0.value|raw is not empty ? node.field_umami_event.0.value|raw : '' %}
{% if node.field_card_link is not empty %}
  {% if node.field_card_link.0.url.external %}
    {% set href = node.field_card_link.uri %}
  {% elseif node.field_card_link.0.uri == "route:<nolink>" %}
    {% set href = 'javascript:void(0)' %}
  {% else %}
    {% set href = path(node.field_card_link.0.url.routeName, node.field_card_link.0.url.routeParameters) %}
  {% endif %}
{% endif %}

{% if isClickableCard %}
  <div class="clickable-card card node--{{ node.id }} {{ (renderCaption) ? 'card--has-txt' : 'card--no-txt' }}">
    <a href="{{ href }}" data-umami-event="{{umamiEvent}}">
      {% if content.field_card_image[0]['#media'] is defined %}
        <div class="card__media" aria-hidden="true">  
          {{ content.field_card_image }}
        </div>
      {% endif %}
      {% if renderCaption %}
      <div class="card-content-wrapper">
        {% if node.field_card_title is not empty %}
        <h3 class="card__title">{{ node.field_card_title.0.value|raw }}</h3>
        {% endif %}
        <div class="card__desc-wrapper">
          {% if node.field_card_blurb is not empty %}
          <p class="card__desc">{{ node.field_card_blurb.0.value|raw }}<p>
          {% endif %}
          {% if node.field_show_learn_more_link is not empty and node.field_show_learn_more_link.0.value %}
          <p class="card__learn-more">
            Learn more
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M17.073 12.4999H5.50001C5.35801 12.4999 5.23901 12.4523 5.14301 12.3569C5.04701 12.2616 4.99934 12.1426 5.00001 11.9999C5.00067 11.8573 5.04834 11.7382 5.14301 11.6429C5.23767 11.5476 5.35667 11.4999 5.50001 11.4999H17.073L13.338 7.76592C13.2407 7.66792 13.19 7.55292 13.186 7.42092C13.182 7.28892 13.2327 7.16792 13.338 7.05792C13.4487 6.94725 13.5677 6.89125 13.695 6.88992C13.8223 6.88858 13.9413 6.94258 14.052 7.05192L18.435 11.4349C18.5217 11.5216 18.5827 11.6106 18.618 11.7019C18.6533 11.7933 18.671 11.8926 18.671 11.9999C18.671 12.1073 18.6533 12.2066 18.618 12.2979C18.5827 12.3893 18.5217 12.4786 18.435 12.5659L14.052 16.9479C13.9547 17.0452 13.839 17.0963 13.705 17.1009C13.571 17.1056 13.4487 17.0526 13.338 16.9419C13.2313 16.8319 13.1773 16.7139 13.176 16.5879C13.1747 16.4619 13.2287 16.3439 13.338 16.2339L17.073 12.4999Z" fill="white"/>
            </svg>
          </p>
          {% endif %}
        </div>
      </div>
      {% endif %}
    </a>
  </div>
{% else %}
  <div class="card node--{{ node.id }} {{ (renderCaption) ? 'card--has-txt' : 'card--no-txt' }}">
    {% if content.field_card_image[0]['#media'] is defined %}
      <div class="card__media">  
        {{ content.field_card_image }}
      </div>
    {% endif %}
    {% if renderCaption %}
    <div class="card-content-wrapper">
      {% if node.field_card_title is not empty %}
      <h3 class="card__title">{{ node.field_card_title.0.value|raw }}</h3>
      {% endif %}
      {% if node.field_card_blurb is not empty %}
      <p class="card__desc">{{ node.field_card_blurb.0.value|raw }}<p>
      {% endif %}
      {% if node.field_card_link is not empty %}
      <a class="card__link" href="{{ href }}" data-umami-event="{{umamiEvent}}">
        {{ node.field_card_link.title }}
      </a>
      {% endif %}
    </div>
    {% endif %}
  </div>
{% endif %}
