<section>
  {% set hasBorder = content.field_event_card_border.0['#markup'] == 'On' %}
  {% set classes = [
      'content-wrapper',
      'event-card',
      hasBorder ? 'card-border'
    ] 
  %}
  <article {{ attributes.addClass(classes) }}>
    {% for item in content.field_event_item %}
      {% set paragraph = item['#paragraph'] ?? null %}
      {% if paragraph %}
        {% set subheading = paragraph.field_event_subheading.value ?? null %}
        {% set text = paragraph.field_event_blurb.value ?? null %}
        {% set link = paragraph.field_event_link.uri ?? null %}
        {% set linkText = paragraph.field_event_link.title ?? null %}
        {% set umami = paragraph.field_umami_event.value ?? null %}
        
        <div class="event-item">
          {% if subheading  %}
            <h3>{{ subheading }}</h3>
          {% endif %}

          {% if text %}
            {{ text | raw }}
          {% endif %}

          {% if link %}
            <a class='cta--btn__link' 
              href='{{ link }}' 
              data-umami-event='{{ umami }}'
            >
              {{ linkText }}
            </a>
          {% endif %}
        </div>
      {% endif %}
    {% endfor %}
  </article>
</section>