{% if node.field_honeypot is defined and node.field_honeypot[0].value %}
    <div aria-hidden="true" style="position: absolute; left: -5000px;">
        <input 
            type="{{ node.field_input_type[0].value|e('html_attr') }}" 
            name="{{ node.field_input_name[0].value|e('html_attr') }}" 
            tabindex="{{ node.field_input_tabindex[0].value|e('html_attr') }}" 
            value="">
    </div>
{% elseif node.field_input_type is defined and node.field_input_type[0].value == 'radio' %}
    <div class="{{ node.field_input_class[0].value|e('html_attr') }} radio-fields"><p>{{ node.field_input_value[0].value|default('')|e('html_attr') }}</p>
        <ul>
            {% for radio_field in content.field_radio_option %}
                {% if radio_field['#entity'] is defined %}
                    {% set radio = radio_field['#entity'] %}
                    <li>{{ drupal_entity('node', radio.id(), 'full') }}</li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
{% else %}
    <div class="form__input">
        {% set input_type = node.field_input_type[0].value|default('text') %}
        {% set input_required = node.field_input_required is defined and node.field_input_required[0].value ? 'required' : '' %}

        <label for="{{ node.field_input_id[0].value|e('html_attr') }}" class="visually-hidden">
            {{ node.field_input_placeholder[0].value|e }}
        </label>
        <input
            type="{{ input_type|e('html_attr') }}" 
            class="{{ node.field_input_class[0].value|e('html_attr') }}" 
            id="{{ node.field_input_id[0].value|e('html_attr') }}" 
            name="{{ node.field_input_name[0].value|e('html_attr') }}" 
            placeholder="{{ node.field_input_placeholder[0].value|e('html_attr') }}" 
            {{ input_required }}
            tabindex="{{ node.field_input_tabindex[0].value|e('html_attr') }}"
            value="{{ node.field_input_value[0].value|default('')|e('html_attr') }}"
            data-umami-event="{{ node.field_umami_event.0.value|raw }}">
    </div>
{% endif %}

