{% set svgUrl = file_url(content.field_cta_image[0]['#media'].field_media_svg.entity.uri.value) %}
{% set svgAlt = content.field_cta_image[0]['#media'].field_media_svg.alt %}

{% if content.field_cta_image[0]['#media'].field_media_image.entity.uri.value %}
  {% set imageUrl = file_url(content.field_cta_image[0]['#media'].field_media_image.entity.uri.value | image_style('original_webp')) %}
{% endif %}
{% set imageAlt = content.field_cta_image[0]['#media'].field_media_image.alt %}

<div class="cta--{{ content.field_cta_type.0|render|lower|replace({' ':'-'}) }} node--{{ node.id }} content-wrapper">
  {% if svgUrl|default(null) %}
  <img src="{{ svgUrl }}" alt="{{ svgAlt }}">
  {% elseif imageUrl|default(null) %}
  <img src="{{ imageUrl }}" alt="{{ imageAlt }}">
  {% endif %}
  <p>{{ node.field_cta_text.0.value|raw }}</p>
  {% if content.field_cta_type.0|render == "Mailing list" %}
  <!-- Begin Mailchimp Signup Form -->
  <form action="https://interledger.us1.list-manage.com/subscribe/post?u=9ced7a326efbb158ae84d30cc&amp;id=7466ff6b0c&amp;f_id=0066e3e5f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_self" novalidate="">
    <div class="mc-field-group">
      <label for="mce-EMAIL" class="visually-hidden">Email Address</label>
      <input type="email" name="EMAIL" class="required email" id="mce-EMAIL" required="" value="" placeholder="Email address">
    </div>
    <div aria-hidden="true" style="position: absolute; left: -5000px;">
      <input type="text" name="b_9ced7a326efbb158ae84d30cc_7466ff6b0c" tabindex="-1" value="">
    </div>
    <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="button" value="Subscribe">
  </form>
  <!--End mc_embed_signup-->
  {% endif %}
</div>
