{% if logged_in %}
  {{ page.admin }}
  {% endif %}

<header class="site-header" role="banner">
  {{ page.header }}
</header>

<main id="main-content" role="main">
  <div class="error-block">
    <h1>{{ error_code }}</h1>
    <p>
      {%  if error_code == "404" %}
      {{ "Oh dear, we can't find the page you're looking for."|t }}
      {% endif %}
      {% if error_code == "403" %}
      {{ "Unfortunately, you are not authorized to view this page. Try logging in first."|t }}
      {% endif %}
    </p>
    <a class="cta--btn__link error__cta" href={{ path('entity.node.canonical', {'node': 1}) }} data-umami-event="4xx page link - Home">
      {{ 'Return Home'|t }}
    </a>
  </div>
</main>

{% include '@interledger/partials/footer.html.twig' %}
