{% if logged_in %}
  {{ page.admin }}
  {% endif %}

<header class="site-header" role="banner">
  {{ page.header }}
</header>

<main role="main">
  <a id="main-content" tabindex="-1"></a>
  <div class="error-block">
    <h1>{{ error_code }}</h1>
    <p>
      {% block message %}
      {{ "Oh dear, we can't find the page you're looking for."|t }}
      {% endblock %}
    </p>
    <section class="cta--btn">
      <div class="content-wrapper">
        <a class="cta--btn__link" href="/">
          {%block button%}
          {{ 'Let’s get you back home'|t }}
          {% endblock %}
        </a>
      </div>
    </section> 
  </div>
</main>

{% include '@interledger/partials/footer.html.twig' %}
